div.ReactPiano__Keyboard {
  @apply relative select-none;
}

div.ReactPiano__Keyboard .ReactPiano__Key {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  @apply border-0 shadow-lg;
}

div.ReactPiano__Keyboard .ReactPiano__Key--natural {
  @apply bg-white;
}

div.ReactPiano__Keyboard .ReactPiano__Key--accidental {

}

/*noinspection ALL*/
div.ReactPiano__Keyboard .ReactPiano__Key--active {
  background: var(--key-color);
  @apply overflow-hidden;
}

div.ReactPiano__Keyboard .ReactPiano__Key--accidental.ReactPiano__Key--active::after {
  content: '';
  @apply absolute inset-0 bg-gray-500 mix-blend-luminosity;
}

div.ReactPiano__Keyboard .ReactPiano__NoteLabelContainer {
  @apply mb-2;
}

div.ReactPiano__Keyboard .ReactPiano__NoteLabel {
  @apply text-sm;
}
